*
{
	margin: 0;
	padding: 0;
}

html,body
{
	height: 100%;
}

body
{
	display:flex;
	align-items: center;
	justify-content: center;
	background-image: url('../pictures/hatter.jpg');
}

#main_div
{
	display:flex;
	flex-direction: column;
	background-color:rgba(165,165,165,0.7);
	width: 50%;
	border: 1px solid gray;
	padding: 20px;
	border-radius: 5px;
	
}
#title
{
	margin-bottom: 15px;
	color:#02770A;
	opacity: 1;
}
#desc
{
	margin-bottom: 20px;
	color: #02770A;
	opacity: 1;
}
#upbtn
{
	width:15%;
	height: 30px;
}