*
{
	margin: 0;
	padding: 0;

}
html,body
{
	height:100%;
	background-image: url('../pictures/hatter.jpg');

}

#inform_div
{
	flex-direction: column;
	height: 100%;
	width: calc(100% - 20px);
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}
#m_p
{
	color: #02770A;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
#d_p
{
	color:#02770A;
	font-size: 20px;
	font-weight: bold;
	white-space: pre-line;
	text-align: center;
}
#om_div
{
	width:calc(100% - 20px);
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}
#om_h
{
	margin-bottom:10px;
	font-size: 36px;
	color:#02770A;
	text-align: center;
}
#om_in
{
	height: 30px;
	width:30%;
	margin-bottom:25px;
	border-radius: 5px;
	border: 1px solid gray;
	font-size:18px;
}
#om_btn
{
	margin-top: 20px;
	height: 40px;
	width: 16%;
	border-radius: 10px;
	border:1px solid gray;
	font-size: 18px;
	cursor: pointer;
}

#om_btn:hover
{
	background-color:#02770A;
	color: white;
}

@media screen and (max-width:700px)
{
	#om_in
	{
		width: 70%;
		height:40px;
		font-size:20px;
	}
	#om_btn
	{
		width:60%;
		height:45px;
		font-size:23px;
	}
	#d_p
	{
		margin-left: 10px;
	}
	#om_h
	{
		font-size: 28px;
	}
	#m_p
	{

	}
	#d_p
	{
		text-align: justify;
		font-size: 18px;
		white-space: normal;
	}
}

