* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

.alap_alert {
	background-color: rgba(10,10,10, 0.6);
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.tartalom_alert {
	background-color: #313131;
	width: 60%;
	margin: auto;
	margin-top: 80px;
	border-radius: 10px;
	padding: 10px;
	max-width: 700px;
}

.gombok_alert {
	text-align: right;
	margin-top: 10px;
}

.gomb_alert {
	border-radius: 2px;
	font-size: 12px;
	padding:  6px 20px 6px 20px;
	font-weight: bold;
	border: 0;
	transition: 0.2s;
	margin-right: 20px; 
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}

.megse_alert {
	background-color: #e2584d;
	color: white;
	border: 2px solid #e2584d;
}

.megse_alert:active {
	background-color: white;
	color: #e2584d;
	border: 2px solid #e2584d;
}

.oke_alert {
	background-color: green;
	color: white;
	border: 2px solid green;
}

.oke_alert:active {
	background-color: white;
	color: green;
	border: 2px solid green;
}

.x_alert {
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.x_alert > p {
	font-size: 30px;
	color: white;
	margin-top: 4px;
	margin-right: 8px; 
	cursor: pointer;
}

.szoveg_alert {
	font-weight: bold;
	margin-left: 10px;
	word-wrap: break-word;
}

.cim_alert {
	margin-top: -25px;
	font-size: 20px;
}

.leiras_alert {
	margin-top: 20px;
}

@media screen and (max-width: 660px)
{
	.tartalom_alert {
		width: calc(90% - 20px);
	}
}